extends templates/base

block content
  if errorMessageUsername
    form(method="POST")
      input(name="name", type="text", placeholder="Name", required, value=loggedInUser.name)
      input(name="username", type="text", placeholder="Username", required, value=errorMessageUsername)
      input(name="email", type="text", placeholder="Email", required, value=loggedInUser.email)
      input(name="location", type="text", placeholder="Location", required, value=loggedInUser.location)
      button Edit
  if errorMessageEmail
    form(method="POST")
      input(name="name", type="text", placeholder="Name", required, value=loggedInUser.name)
      input(name="username", type="text", placeholder="Username", required, value=loggedInUser.username)
      input(name="email", type="text", placeholder="Email", required, value=errorMessageEmail)
      input(name="location", type="text", placeholder="Location", required, value=loggedInUser.location)
      button Edit
  form(method="POST")
    input(name="name", type="text", placeholder="Name", required, value=loggedInUser.name)
    input(name="username", type="text", placeholder="Username", required, value=loggedInUser.username)
    input(name="email", type="text", placeholder="Email", required, value=loggedInUser.email)
    input(name="location", type="text", placeholder="Location", required, value=loggedInUser.location)
    button Edit